/target/

/test-output/

/screenshots/

/applogs/

# Package Files 
*.jar

*.war

*.nar

*.ear

*.zip

*.tar.gz

*.rar

# Compiled class file
*.class

# Log file
*.log

.project

.settings

.mvn

.classpath