<?xml version = "1.0" encoding = "UTF-8"?>

<!-- a suite tag can contain multiple test tags if required but a testng.xml 
	file can contain only a single suite/suite tag -->

<!-- NORMAL EXECUTION -->
<suite name="opencartUIAutomatedTests">

	<!-- THREAD-SAFE PARALLEL EXECUTION -->
	<!-- <suite name="opencartUIAutomatedTests" parallel="methods" thread-count="3"> -->

	<listeners>
		<!-- test cases falling under below test tag (limited to suite tag) are 
			in scope of this listener, applicable only upon executing testng.xml file 
			but has no effect if test case is ran individually -->
		<listener class-name="listeners.AnnotationTransformer" />
	</listeners>
	<test name="opencartTests">
		<classes>
			<class name="tests.LoginTest">
				<methods>
					<include name="verifyLogin" />
					<include name="verifyLoginPageNavigation" />
				</methods>
			</class>
			<!-- <class name="tests.MyAccountTest" /> -->
		</classes>
	</test>
</suite>
